
html {
  height: 100%;
  font-size: 62.5%;
  //-webkit-touch-callout: none;
  //-webkit-user-select: none;
  //-webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
body {
  min-height: 100%;
  font: normal 16px/1.4 'Noto Sans KR','Apple SD Gothic Neo','AppleSDGothicNeo',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

::placeholder{color: #b7b7b7;opacity: 1;}
::-webkit-input-placeholder{color: #b7b7b7;opacity: 1;}
:-moz-placeholder{color: #b7b7b7;opacity: 1;}
::-moz-placeholder{color: #b7b7b7;opacity: 1;}
:-ms-input-placeholder{color: #b7b7b7;opacity: 1;}

input::-ms-clear,
input::-ms-reveal{display: none;width: 0;height: 0;}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{display: none;}

input[type="date"]::-webkit-clear-button{display: none;}
input[type="time"]::-webkit-clear-button{display: none;}

select:disabled,
input:disabled,
textarea:disabled{-webkit-text-fill-color: inherit;opacity: 1;}

html.mobile,
html.is_app{
	a,
	button,
	select,
	input,
	textarea,
	iframe,
	[tabindex]{
    outline: none;
  }
}


.flex{
	display:flex;
	&+.flex{
		margin-top:8px;
	}
	&:not([class*='space-']):not([class*='flex-']):not([class*='justify-']):not([class*='not-full']){
		> *:not(.unit) {
			width: 100%;
		}
	}
	> .unit{
		display:flex;
		align-items: center;
		font-size: 15px;
		color: #666;
	}
	> .input,
	> .select{
		+ .input,
		+ .select{
			margin-top: 0;
		}
	}
	> * + * {
		margin-left: 6px;
	}
	+ .input,
	+ .select,
	+ .textarea{
		margin-top: 8px;
	}
}